﻿@page "/datagridrowtemplate"
@using BlazorProject.Shared
@using Syncfusion.Blazor.Grids

<SfGrid DataSource="@Employees" Width="655">
    <GridTemplates>
        @*OR <RowTemplate>*@
        <DetailTemplate>
            @{
                var employee = (context as Employee);

                <div class="card profile-header">
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="profile-image float-md-right"> <img class="thumbnail" src="@employee.PhotoPath" alt="Employee photo"> </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-12">
                                <h4 class="m-t-0 m-b-0"><strong>@employee.FirstName</strong> @employee.LastName</h4>
                                <p class="job_post">This is a Job Title</p>
                                <p class="job_post"><i>@employee.Gender</i>, Born in @employee.DateOfBirth.ToLongDateString()</p>

                                <p>A really cool address</p>
                                <div>
                                    <button class="btn btn-primary btn-round">Follow</button>
                                    <button class="btn btn-primary btn-round btn-simple">Message</button>
                                </div>
                                <p class="social-icon m-t-5 m-b-0">
                                    <a title="Twitter" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                    <a title="Facebook" href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                    <a title="Google-plus" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                    <a title="Behance" href="javascript:void(0);"><i class="fa fa-behance"></i></a>
                                    <a title="Instagram" href="javascript:void(0);"><i class="fa fa-instagram "></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </DetailTemplate>
    </GridTemplates>
    <GridColumns>
@* USE THIS WITH ROWTemplate        <GridColumn HeaderText="My Own Employee List"
                    Width="450" TextAlign="TextAlign.Center"></GridColumn>*@
        <GridColumn Field=@nameof(Employee.EmployeeId) IsPrimaryKey="true" HeaderText="ID" Width="60"></GridColumn>
        <GridColumn Field=@nameof(Employee.FirstName) HeaderText="First Name" Width="100"></GridColumn>
        <GridColumn Field=@nameof(Employee.LastName) HeaderText="Last Name" Width="100"></GridColumn>
        <GridColumn Field=@nameof(Employee.DateOfBirth) HeaderText="Date of Birth" Width="110"></GridColumn>
    </GridColumns>
</SfGrid>

<style type="text/css" class="cssStyles">
    .thumbnail {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }

    a {
        color: #f96332;
    }

    .m-t-5 {
        margin-top: 5px;
    }

    .card {
        background: #fff;
        margin-bottom: 30px;
        transition: .5s;
        border: 0;
        border-radius: .1875rem;
        display: inline-block;
        position: relative;
        width: 100%;
        box-shadow: none;
    }

        .card .body {
            font-size: 14px;
            color: #424242;
            padding: 20px;
            font-weight: 400;
        }

    .profile-page .profile-header {
        position: relative
    }

        .profile-page .profile-header .profile-image img {
            border-radius: 50%;
            width: 140px;
            border: 3px solid #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
        }

        .profile-page .profile-header .social-icon a {
            margin: 0 5px
        }

    .profile-page .profile-sub-header {
        min-height: 60px;
        width: 100%
    }

        .profile-page .profile-sub-header ul.box-list {
            display: inline-table;
            table-layout: fixed;
            width: 100%;
            background: #eee
        }

            .profile-page .profile-sub-header ul.box-list li {
                border-right: 1px solid #e0e0e0;
                display: table-cell;
                list-style: none
            }

                .profile-page .profile-sub-header ul.box-list li:last-child {
                    border-right: none
                }

                .profile-page .profile-sub-header ul.box-list li a {
                    display: block;
                    padding: 15px 0;
                    color: #424242
                }

</style>

@code {

    public List<Employee> Employees { get; set; }

    [Inject]
    public IEmployeeService EmployeeService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Employees = (await EmployeeService.GetEmployees()).ToList();
    }
}