﻿@page "/excelsandbox"

@using BlazorProject.Shared
@using Syncfusion.Blazor.Inputs
@using Syncfusion.XlsIO
@using System.Reflection
@using Syncfusion.XlsIO.Implementation

<h3>Excel Sandbox</h3>

<SfUploader AllowedExtensions=".xls,.xlsx" ID="ExcelUploader">
    <UploaderEvents ValueChange="OnExcelRead"></UploaderEvents>
</SfUploader>

<SfGrid DataSource="@employeeList">

</SfGrid>

@code {

    public List<Employee> employeeList { get; set; }

    private void OnExcelRead(UploadChangeEventArgs args)
    {

        try
        {
            employeeList = new List<Employee>();
            foreach (var file in args.Files)
            {
                using (ExcelEngine excelEngine = new ExcelEngine())
                {
                    //Instantiate the Excel application object
                    IApplication application = excelEngine.Excel;

                    //Set the default application version
                    application.DefaultVersion = ExcelVersion.Xlsx;
                    application.UseFastRecordParsing = true;

                    file.Stream.Position = 0;
                    //Load the existing Excel workbook into IWorkbook
                    IWorkbook workbook = application.Workbooks.Open(file.Stream);

                    //Get the first worksheet in the workbook into IWorksheet
                    IWorksheet worksheet = workbook.Worksheets[0];

                    Console.WriteLine("Number of Rows: " + worksheet.Rows.Count());
                    file.Stream.Close();

                    // Find columns for each employee attribute (from first row) and create mapping
                    Dictionary<int, string> columnAttributePairList = new Dictionary<int, string>();
                    int index = 1;
                    foreach (var cell in worksheet.Rows[0].Columns)
                    {
                        columnAttributePairList.Add(index, cell.Value);
                        index++;
                    }

                    // Fill employeeList and Show data on grid
                    for (var i = 2; i <= worksheet.Rows.Count(); i++)
                    {
                        Employee employee = new Employee();
                        Type employeeType = employee.GetType();

                        foreach (var col in columnAttributePairList)
                        {
                            PropertyInfo? propertyInfo = employeeType.GetProperty(col.Value);
                            if (propertyInfo != null)
                            {

                                Console.WriteLine("Value: " + worksheet.Range[i, col.Key].Value);
                                WorksheetImpl.TRangeValueType cellType = (worksheet as WorksheetImpl).GetCellType(i, col.Key, false);
                                Console.WriteLine(cellType.ToString());
                                
                                if (col.Value.StartsWith("Date"))
                                    propertyInfo.SetValue(employee, worksheet.Range[i, col.Key].DateTime);
                                else
                                {
                                    if (col.Value.StartsWith("Gender"))
                                        propertyInfo.SetValue(employee, Enum.Parse(typeof(Gender), worksheet.Range[i, col.Key].Value));
                                    else
                                        propertyInfo.SetValue(employee, worksheet.Range[i, col.Key].Value);
                                }
                            }
                            else
                                Console.WriteLine("Can't find property " + col.Value + " in object Empployee.");
                        }

                        employeeList.Add(employee);
                    }

                }
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

    }

}
