﻿@page "/gridedit"
@using BlazorProject.Shared
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns

<h1>Grid Edit - CRUD</h1>
<h5>Grid can be put into several edit modes: EditMode.Batch, Dialog or Normal </h5>

<div style="width:750px">
    <SfGrid DataSource="@Employees" AllowPaging="true" @ref="employeeGrid"
            Toolbar="@(new List<string>() { "Add", "Edit", "Update", "Delete", "Cancel" })">
        <GridEditSettings AllowNextRowEdit="true" AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Batch">
            <HeaderTemplate>
                <span>@GetDialogHeader(context as Employee)</span>
            </HeaderTemplate>
            <FooterTemplate>
                <SfButton OnClick="@Save" IsPrimary="true">@FooterSaveButtonText</SfButton>
                <SfButton OnClick="@Cancel">Cancel</SfButton>
            </FooterTemplate>
        </GridEditSettings>
        <GridEvents OnActionBegin="ActionBeginHandler" TValue="Employee" OnBatchSave="BatchSaveHandler">
        </GridEvents>
        <GridPageSettings PageSize="5"></GridPageSettings>
        <GridColumns>
            <GridColumn IsPrimaryKey="true" Field=@nameof(Employee.EmployeeId) HeaderText="ID"
                        Width="40px" AllowEditing="false"></GridColumn>
            <GridColumn Field=@nameof(Employee.FirstName) HeaderText="First Name"></GridColumn>
            <GridColumn Field=@nameof(Employee.LastName) HeaderText=" Last Name"></GridColumn>
            <GridColumn Field=@nameof(Employee.DateOfBirth) Format="d"
                        HeaderText="Date of Birth"></GridColumn>
            <GridColumn Field=@nameof(Employee.DepartmentId) HeaderText="Department" Width="140px">
                <Template>
                    <span>
                        @GetDepartmentNameById((context as Employee).DepartmentId)
                    </span>
                </Template>
                <EditTemplate>
                    <SfDropDownList TItem="Department" TValue="int" DataSource="@Departments"
                                    @bind-Value="@((context as Employee).DepartmentId)">
                        <DropDownListFieldSettings Text="DepartmentName" Value="DepartmentId">
                        </DropDownListFieldSettings>
                    </SfDropDownList>
                </EditTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(Employee.Gender) HeaderText="Gender" Width="140px">
                <EditTemplate>
                    <SfDropDownList ID="Gender" TItem="string" TValue="Gender"
                                    @bind-Value="@((context as Employee).Gender)"
                                    DataSource="@GenderEnumValues">
                    </SfDropDownList>
                </EditTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(Employee.Email) HeaderText="Email"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>

@code {

    public List<Employee> Employees { get; set; }

    public List<Department> Departments { get; set; }

    public SfGrid<Employee> employeeGrid { get; set; }

    public string FooterSaveButtonText { get; set; }

    public string[] GenderEnumValues = Enum.GetNames(typeof(Gender));

    [Inject]
    public IEmployeeService EmployeeService { get; set; }

    [Inject]
    public IDepartmentService DepartmentService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Employees = (await EmployeeService.GetEmployees()).ToList();
        Departments = (await DepartmentService.GetAllDepartments()).ToList();
    }

    public async void ActionBeginHandler(ActionEventArgs<Employee> Args)
    {
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (Args.Action == "Add")
            {
                await EmployeeService.AddEmployee(Args.Data);
                Employees = (await EmployeeService.GetEmployees()).ToList();
                employeeGrid.Refresh();
            }
            else
            {
                await EmployeeService.UpdateEmployee(Args.Data);
            }
        }
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            await EmployeeService.DeleteEmployee(Args.Data.EmployeeId);
        }
    }

    public string GetDialogHeader(Employee employee)
    {
        if (employee.EmployeeId == 0)
        {
            FooterSaveButtonText = "Add";
            return "Add New Employee";
        }
        else
        {
            FooterSaveButtonText = "Update";
            return $"Edit {employee.FirstName} Details";
        }
    }

    public async Task Cancel()
    {
        await employeeGrid.CloseEdit();
    }
    public async Task Save()
    {
        await employeeGrid.EndEdit();
    }

    public string GetDepartmentNameById(int id)
    {
        if (id == 0)
        {
            return null;
        }
        else
        {
            return Departments.FirstOrDefault(d => d.DepartmentId == id).DepartmentName;
        }
    }

    /// <summary>
    ///     Usado apenas quando o modo de funcionamento da grelha é "Batch"
    /// </summary>
    /// <param name="Args"></param>
    /// <returns></returns>
    public async Task BatchSaveHandler(BeforeBatchSaveArgs<Employee> Args)
    {
        var updates = Args.BatchChanges.ChangedRecords;
        var inserts = Args.BatchChanges.AddedRecords;
        var deletes = Args.BatchChanges.DeletedRecords;

        foreach (Employee employee in updates)
        {
            await EmployeeService.UpdateEmployee(employee);
        }

        foreach (Employee employee in inserts)
        {
            await EmployeeService.AddEmployee(employee);
        }

        foreach (Employee employee in deletes)
        {
            await EmployeeService.DeleteEmployee(employee.EmployeeId);
        }
    }

}