﻿@page "/"
@using System.Collections.Generic
@using BlazorProject.Shared
@using BlazorProject.Shared.Utilities
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns

<h1>Client Side Paging</h1>

@{
    var intialGrouping = (new string[] { "Gender", "DateOfBirth" });

    var searchTool = new List<string>() { "Search", "ColumnChooser" };
    var searchColumns = new string[] { "FirstName", "LastName" };
}

<SfSpinner @bind-Visible="WaitingForGetEmployees" Label="Loading Data..." Size="50" Type="@SpinnerType.Tailwind"></SfSpinner>

@if (Employees != null)
{
    <SfGrid @ref="employeeGrid" DataSource="@Employees" AllowPaging="true" AllowSorting="true"
        AllowGrouping="true" AllowFiltering="true" Toolbar="@searchTool" ShowColumnChooser="true">
        <GridSearchSettings Fields="@searchColumns">
        </GridSearchSettings>
        <GridGroupSettings ShowGroupedColumn="true" ShowUngroupButton="true" ShowToggleButton="true">
            @* IF WE WANT INITIAL GROUPING   Columns="@intialGrouping"*@
            <CaptionTemplate>
                @{
                var employee = (context as CaptionTemplateContext);
                <div>@employee.Field : @employee.Key - @employee.Count Employees</div>
            }
        </CaptionTemplate>
    </GridGroupSettings>
    <GridFilterSettings Mode="FilterBarMode.Immediate" ImmediateModeDelay="200" Type="Syncfusion.Blazor.Grids.FilterType.Menu">
        <GridFilterColumns>

        </GridFilterColumns>
    </GridFilterSettings>
    <GridPageSettings PageSize="10" PageCount="5" PageSizes="@pagerDropdown">
    </GridPageSettings>
    <GridSortSettings AllowUnsort="true">
        <GridSortColumns>
            <GridSortColumn Field="EmployeeId" Direction="SortDirection.Descending"></GridSortColumn>
        </GridSortColumns>
    </GridSortSettings>
    <GridColumns>
        <GridColumn HeaderText="Photo" TextAlign="TextAlign.Center" Width="120">
            <Template>
                @{
                    var employee = (context as Employee);
                    <img class="thumbnail" src="@employee.PhotoPath"
                         alt="Employee Photo" />
                }
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(Employee.EmployeeId) HeaderText="Employee ID" AllowGrouping="false" FilterSettings="@(new FilterSettings() { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox})"></GridColumn>
        <GridColumn Field=@nameof(Employee.FirstName) HeaderText="First Name" FilterSettings="@(new FilterSettings() { Operator = Operator.Contains })"></GridColumn>
        <GridColumn Field=@nameof(Employee.LastName) HeaderText=" Last Name" FilterSettings="@(new FilterSettings() { Type = Syncfusion.Blazor.Grids.FilterType.Excel})"></GridColumn>
        <GridColumn Field=@nameof(Employee.Email) HeaderText="Email" AllowGrouping="false" FilterSettings="@(new FilterSettings() { Operator = Operator.Contains })"></GridColumn>
        @*<GridColumn Field=@nameof(Employee.Gender) HeaderText="Gender" FilterSettings="@(new FilterSettings() { Operator = Operator.Contains })"></GridColumn>*@
        <GridColumn Field=@nameof(Employee.Gender) HeaderText="Gender" ShowInColumnChooser="false">
            <HeaderTemplate>
                <div>
                    Gender <img style="height:20px; width:20px"
                                src="images/gendericon.png" alt="gender" />
                </div>
            </HeaderTemplate>
            <FilterTemplate>
                <SfDropDownList Placeholder="All" DataSource="@genderDorpDownSource"
                                TItem="DropDownListItem" TValue="string">
                    <DropDownListFieldSettings Value="Value" Text="Text">
                    </DropDownListFieldSettings>
                    <DropDownListEvents TItem="DropDownListItem" TValue="string" ValueChange="@GenderSelectionChange"></DropDownListEvents>
                </SfDropDownList>
            </FilterTemplate>
        </GridColumn>
        <GridColumn Field=@nameof(Employee.DateOfBirth) HeaderText="Date Of Birth" Format="d" EnableGroupByFormat="false"></GridColumn>
    </GridColumns>
</SfGrid>
}

<style type="text/css">
    .thumbnail {
        height: 80px;
        width: 80px;
        border-radius: 40px;
    }
</style>


@code {
    string[] pagerDropdown = new string[] { "All", "5", "10", "15", "20" };

    public List<Employee>? Employees { get; set; }

    public bool WaitingForGetEmployees { get; set; }

    [Inject]
    public IEmployeeService EmployeeService { get; set; }

    public SfGrid<Employee> employeeGrid { get; set; }

    List<DropDownListItem> genderDorpDownSource =
        EnumHelper.ConvertEnumToDropDownSource<Gender>("All", "All");

    protected void GenderSelectionChange(ChangeEventArgs<string, DropDownListItem> args)
    {
        if (args.Value == "All")
        {
            employeeGrid.ClearFiltering("Gender");
        }
        else
        {
            employeeGrid.FilterByColumn("Gender", "equal", args.Value);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Console.Write("OnInitializedAsync");
        WaitingForGetEmployees = true;
        await Task.Delay(1000);     // Simulate latency in order to test spinner component
        Employees = (await EmployeeService.GetEmployees()).ToList();
        WaitingForGetEmployees = false;
    }

}