﻿@page "/search"
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Inputs
@using BlazorProject.Shared
@using BlazorProject.Shared.Utilities

<div style="width:1000px">
    <SfGrid @ref="employeeGrid" DataSource="@Employees">
        <SfToolbar>
            <ToolbarItems>
                <ToolbarItem Type="ItemType.Input" Align="Syncfusion.Blazor.Navigations.ItemAlign.Right">
                    <Template>
                        @*<SfTextBox Placeholder="Search" Input="OnInput"></SfTextBox>*@
                        <SfTextBox Placeholder="Search" @ref="SearchTextBox"></SfTextBox>
                    </Template>
                </ToolbarItem>
                <ToolbarItem Type="ItemType.Button" Align="ItemAlign.Right">
                    <Template>
                        <SfButton Content="Search" OnClick="@SearchClick"></SfButton>
                    </Template>
                </ToolbarItem>
            </ToolbarItems>
        </SfToolbar>
        <GridColumns>
            <GridColumn Field=@nameof(Employee.EmployeeId) HeaderText="ID"></GridColumn>
            <GridColumn Field=@nameof(Employee.FirstName) HeaderText="First Name"></GridColumn>
            <GridColumn Field=@nameof(Employee.LastName) HeaderText=" Last Name"></GridColumn>
            <GridColumn Field=@nameof(Employee.DateOfBirth) HeaderText="Date of Birth"></GridColumn>
            <GridColumn Field=@nameof(Employee.Gender) HeaderText="Gender"></GridColumn>
            <GridColumn Field=@nameof(Employee.Email) HeaderText="Email"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>

@code {

    public SfGrid<Employee> employeeGrid { get; set; }

    public List<Employee> Employees { get; set; }

    public SfTextBox SearchTextBox { get; set; }


    [Inject]
    public IEmployeeService EmployeeService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Employees = (await EmployeeService.GetEmployees()).ToList();
    }

    private async void OnInput(InputEventArgs args)
    {
        await this.employeeGrid.SearchAsync(args.Value);
    }

    private void SearchClick()
    {
        this.employeeGrid.SearchAsync(this.SearchTextBox.Value);
    }


}