﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">My Blazor Sandbox</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Client Side Paging
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="IndexServerSidePaging">
                <span class="oi oi-browser" aria-hidden="true"></span> Serve Side Paging
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Grid Search Sandbox
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gridedit">
                <span class="oi oi-pencil" aria-hidden="true"></span> Grid CRUD
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datagridbuttons">
                <span class="oi oi-pencil" aria-hidden="true"></span> Grid Row Btns
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datagridrowtemplate">
                <span class="oi oi-pencil" aria-hidden="true"></span> Grid Row Template
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="excelsandbox">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> Excel Sandbox
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>


        @*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
            </div>*@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
